@use "../../../styles//variables.scss" as vars;

.buttonArrowContainer {
	display: flex;
	justify-content: space-between;
	width: 125px;
	height: 32px;
	display: flex;
	gap: 7px;

	button {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		height: 100%;

    img {
      width: 15px;
      height: 15px;
    }
	}
}

.leftButton {
	rotate: 180deg;
}

.rightButton {
	background-color: transparent;
	border: 1px solid vars.$text-muted;
	filter: brightness(0) saturate(100%) invert(73%) sepia(7%) saturate(157%)
		hue-rotate(201deg) brightness(89%) contrast(91%);
}
