@use "../../../styles/variables.scss" as vars;

.hero {
	height: 100vh;
	width: 100%;
	background-color: vars.$secondary-color;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.2);
		pointer-events: none;
	}
}

.heroImageSmall {
	position: absolute;
	height: 75%;
	width: 35.5%;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
  z-index: 2;

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.heroText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-15%, -50%);
	z-index: 2;
	color: vars.$text-main;
	display: flex;
	flex-direction: column;
	gap: vars.$spacing-xs;

	h3 {
		font-size: vars.$font-4xl;
		margin-bottom: vars.$spacing-lg;
		color: vars.$text-light;
	}
}

.heroImageFull {
	height: 100%;
	width: 50%;
	position: absolute;
	top: 0;
	right: 0;
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.1);
		pointer-events: none;
	}
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
