@use "../../../styles/variables.scss" as vars;

.booking {
	width: 100%;
	height: 60vh;
	min-height: 700px;
	position: relative;
}

.backgroundImage {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;

	.gradient {
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			90deg,
			rgba(vars.$primary-color, 0.9) 0%,
			rgba(vars.$primary-color, 0.5) 20%,
			transparent 100%
		);
		z-index: 1;
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			background: rgba(0, 0, 0, 0.4);
			pointer-events: none;
		}
	}

	img {
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}

.content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: vars.$spacing-xl;
	padding: vars.$spacing-2xl vars.$spacing-3xl;
	height: 100%;
}

.textBox {
	display: flex;
	flex-direction: column;
	gap: vars.$spacing-lg;
	justify-content: center;
	width: 40%;

	h2 {
		font-size: vars.$font-3xl;
		color: vars.$text-light;
		line-height: 1.3;
		font-weight: 500;
	}

	p {
		font-size: vars.$font-md;
		color: vars.$text-light;
		line-height: 1.6;
	}

	.buttonContainer {
		margin-top: -(vars.$spacing-lg);
	}
}

.formBox {
	width: 60%;
}

@media (max-width: vars.$bp-md) {
	.booking {
		width: 100%;
		height: auto;
		min-height: auto;
		position: relative;
	}

	.content {
		flex-direction: column;
		gap: vars.$spacing-lg;
		padding: vars.$spacing-xl vars.$spacing-xl;
	}

	.textBox {
		gap: vars.$spacing-xs;
		justify-content: center;
		width: 100%;
		padding: vars.$spacing-lg 0;

		h2 {
			font-size: vars.$font-2xl;
			color: vars.$text-light;
			line-height: 1.3;
			font-weight: 500;
		}

		p {
			font-size: vars.$font-md;
			color: vars.$text-light;
			line-height: 1.6;
		}

		.buttonContainer {
			margin-top: -(vars.$spacing-xs);
			p {
				font-size: vars.$font-md;
			}
		}
	}
	.formBox {
		width: 100%;
	}
}

@media (max-width: vars.$bp-sm) {
	.content {
		gap: vars.$spacing-xs;
	}

	.textBox {
		padding: vars.$spacing-sm 0;

		h2 {
			font-size: vars.$font-xl;
		}

		p {
			font-size: vars.$font-sm;
		}
	}
}
