@use "../../../../styles/variables.scss" as vars;

.footerTop {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.leftSection {
	display: flex;
	flex-direction: column;
	gap: vars.$spacing-sm;
	width: 35%;

	h3 {
		font-size: vars.$font-3xl;
		font-weight: 400;
		line-height: 1.3;
	}

	p {
		font-size: vars.$font-md;
		color: vars.$text-accent;
		font-weight: 400;
		letter-spacing: 1px;
		line-height: 1.6;
	}
}

.rightSection {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 50%;
}

.infoElement {
	display: flex;
	flex-direction: column;
	gap: vars.$spacing-lg;
}

.sectionTitle {
	font-family: vars.$font-main-bold;
	font-size: vars.$font-lg;
	font-weight: 700;
	margin-bottom: vars.$spacing-sm;
	color: vars.$text-main;
}

.pagesList {
	display: flex;
	flex-direction: column;
	gap: vars.$spacing-sm;
	list-style: none;

	button {
		color: vars.$text-accent;
		font-size: vars.$font-md;
		font-family: vars.$font-main;
		letter-spacing: 1px;
		line-height: 1.6;
	}

	button:hover {
		color: vars.$alert-color;
		cursor: pointer;
	}
}

.contactList {
	display: flex;
	flex-direction: column;
	gap: vars.$spacing-md;
	list-style: none;

	li {
		display: flex;
		flex-direction: row;
		color: vars.$text-accent;
		line-height: 1.6;
		letter-spacing: 1px;
		gap: vars.$spacing-xs;
		font-weight: 500;
		img {
			width: 24px;
			height: 24px;
		}
	}
}

.socialList {
	display: flex;
	flex-direction: column;
	gap: vars.$spacing-sm;
	list-style: none;

	a {
		color: vars.$text-accent;
		text-decoration: none;
		font-weight: 500;
		letter-spacing: 1px;
		line-height: 1.6;

		&:hover {
			color: vars.$alert-color;
		}
	}
}
