// MAIN COLORS

$primary-color: #718e7c;
$secondary-color: #d2e8db;

// TEXT & BACKGROUND COLORS

$background-basic: #fafafa;
$background-secondary: #f1fcfa;
$background-tertiary: #a5a5ab;

$text-main: #070707;
$text-light: #f1fafa;
$text-muted: #a5a5ab;
$text-accent: #777980;
$text-secondary: #4a4c56;

$alert-color: #80ffb0;
$success-color: #ff8680;

// FONTS
@font-face {
	font-family: "Beautique-Display";
	src: url("../assets/fonts/BeautiqueDisplay/BeautiqueDisplay-Regular.otf")
		format("opentype");
	font-weight: normal;
	font-style: normal;
}

// @font-face {
// 	font-family: "Beautique-Display-Condensed";
// 	src: url("../assets/fonts/BeautiqueDisplay/BeautiqueDisplayCondensed-Regular.otf")
// 		format("opentype");
// 	font-weight: normal;
// 	font-style: normal;
// }

@font-face {
	font-family: "Dancing-Script";
	src: url("../assets/fonts/Dancing-Script/Dancing-Script-Regular.otf")
		format("opentype");
	font-weight: normal;
	font-style: normal;
}

$font-main: "Beautique-Display", sans-serif;
$font-logo: "Dancing-Script", sans-serif;

$font-size-md: 18px;

// SPACING

$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 20px;
$spacing-xl: 40px;
$spacing-2xl: 60px;
$spacing-3xl: 120px;
