// MAIN COLORS

$primary-color: #718e7c;
$secondary-color: #d2e8db;

// TEXT & BACKGROUND COLORS

$background-basic: #fafafa;
$background-secondary: #eaf3f2;
$background-tertiary: #a5a5ab;

$text-main: #1d1f2c;
$text-light: #f1fafa;
$text-muted: #a5a5ab;
$text-accent: #777980;
$text-secondary: #4a4c56;

$success-color: #80ffb0;
$alert-color: #ff8680;

// FONTS

// MAIN HEADING FONT

@font-face {
	font-family: "Merienda";
	src: url("../assets/fonts/Merienda/Merienda-VariableFont_wght.ttf")
		format("truetype");
	font-weight: 100;
	font-style: normal;
}

// SECTION HEADING FONT

@font-face {
	font-family: "Alkatra";
	src: url("../assets/fonts/Alkatra/Alkatra-VariableFont_wght.ttf")
		format("truetype");
	font-weight: 900;
	font-style: normal;
}

// PRIMARY TEXT FONT

@font-face {
	font-family: "Montserrat";
	src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
		format("truetype");
	font-weight: 400;
	font-style: normal;
}

// Light TEXT FONT

@font-face {
	font-family: "Changa";
	src: url("../assets/fonts/Changa/Changa-VariableFont_wght.ttf")
		format("truetype");
	font-weight: 100;
	font-style: normal;
}

$font-main-heading: "Merienda", sans-serif;
$font-section-heading: "Alkatra", sans-serif;
$font-text-main: "Montserrat", sans-serif;
$font-text-light: "Changa", sans-serif;

$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-xl: 24px;
$font-2xl: 32px;
$font-3xl: 40px;
$font-4xl: 56px;

// SPACING

$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 20px;
$spacing-xl: 40px;
$spacing-2xl: 60px;
$spacing-3xl: 120px;


$bp-md: 1024px;
$bp-sm: 768px;