@use "../../../styles/variables.scss" as vars;

.about {
	position: relative;
	padding: vars.$spacing-2xl 0;
	overflow: hidden;
}

.content {
	height: 100vh;
	width: 100%;
	aspect-ratio: 16 / 10;
	position: relative;
	margin: 0 auto;
}

.imgLeftTop {
	position: absolute;
	top: 10%;
	left: 10%;
	width: clamp(210px, 17%, 400px);
	aspect-ratio: 1 / 1;
	border-radius: 8px;
	object-fit: cover;
}

.imgRightTop {
	position: absolute;
	top: 10%;
	right: 10%;
	width: clamp(210px, 16%, 400px);
	aspect-ratio: 1 / 1;
	border-radius: 8px;
	object-fit: cover;
}

.imgLeftBottom {
	position: absolute;
	bottom: 10%;
	left: 17%;
	width: clamp(180px, 15%, 410px);
	aspect-ratio: 1.1 / 1;
	border-radius: 8px;
	object-fit: cover;
}

.imgRightBottom {
	position: absolute;
	bottom: 12%;
	right: 18%;
	width: clamp(180px, 15%, 410px);
	aspect-ratio: 1.1 / 1;

	border-radius: 8px;
	object-fit: cover;
}

.text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	transform: translate(-50%, -50%);
	text-align: center;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;

	.aboutDecor {
		height: 100px;
		width: 100px;
	}

	h2 {
		font-size: vars.$font-3xl;
		color: vars.$text-main;
		margin-bottom: vars.$spacing-sm;

		span {
			color: vars.$primary-color;
		}
	}

	.aboutParagraph {
		font-size: vars.$font-lg;
		color: vars.$text-secondary;
		margin-bottom: vars.$spacing-md;
		line-height: 1.6;
	}
}

.imgCenterLeft {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%) rotateY(180deg) rotate(15deg);
	width: 19%;
}

.imgCenterRight {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 19%;
}

@media (max-width: vars.$bp-md) {
	.imgLeftTop {
		top: 7%;
		left: 7%;
		width: clamp(104px, 20%, 400px);
	}

	.imgRightTop {
		top: 7%;
		right: 7%;
		width: clamp(104px, 20%, 400px);
	}

	.imgLeftBottom {
		bottom: 7%;
		left: 7%;
		width: clamp(104px, 20%, 400px);
		aspect-ratio: 1 / 1;
	}

	.imgRightBottom {
		bottom: 7%;
		right: 7%;
		width: clamp(104px, 20%, 400px);
		aspect-ratio: 1 / 1;
	}

	.imgCenterLeft {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%) rotateY(180deg) rotate(15deg);
		width: 25%;
	}

	.imgCenterRight {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		width: 25%;
	}
}

@media (max-width: vars.$bp-sm) {
	.text {
		.aboutDecor {
			height: 80px;
			width: 80px;
		}

		h2 {
			font-size: vars.$font-2xl;
			margin-bottom: vars.$spacing-sm;
		}

		.aboutParagraph {
			font-size: vars.$font-md;
			color: vars.$text-secondary;
			margin-bottom: vars.$spacing-md;
			line-height: 1.6;
		}
	}
}
