@use "../../../styles//variables.scss" as vars;

.bookingForm {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: vars.$spacing-lg;
	background-color: #fff;
	border-radius: vars.$spacing-xs;
	width: 642px;
	padding: vars.$spacing-lg;
}

.formGroup {
	width: calc(50% - vars.$spacing-lg / 2);
	display: flex;
	flex-direction: column;
	gap: vars.$spacing-xs;

	label {
		color: vars.$text-main;
		font-size: vars.$font-md;
		line-height: 1.3;
		font-family: vars.$font-main-light;
	}

	input {
		width: 100%;
		height: 48px;
		background-color: vars.$background-secondary;
		color: vars.$text-muted;
		border-radius: 4px;
		border: 1px solid vars.$background-basic;
		padding: vars.$spacing-sm vars.$spacing-md;
		font-family: vars.$font-main-light;
	}

	textarea {
		width: 100%;
		height: 95px;
		background-color: vars.$background-secondary;
		color: vars.$text-muted;
		border-radius: 4px;
		border: 1px solid vars.$background-basic;
		resize: none;
		padding: vars.$spacing-sm vars.$spacing-md;
	}
}

.formGroupMessage {
	width: 100%;
}

.customSelect {
	position: relative;
}

.inputLike {
	width: 100%;
	height: 48px;
	background-color: vars.$background-secondary;
	color: vars.$text-muted;
	border-radius: 4px;
	border: 1px solid vars.$background-basic;
	padding: vars.$spacing-sm vars.$spacing-md;
	cursor: pointer;
}

.selectButton {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0 16px;
	font-size: 18px;
	color: vars.$text-muted;
	z-index: 2;
}

.selectList {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 10;
	background: vars.$background-basic;
	border: 1px solid vars.$background-secondary;
	margin: 0;
	padding: 0;
	list-style: none;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
	border-radius: 0 0 4px 4px;
	max-height: 220px;
	overflow-y: auto;
}

.selectListItem {
	padding: 8px 12px;
	cursor: pointer;
	transition: background 0.15s;
	&:hover {
		background: vars.$background-secondary;
	}
}
