@use "../../../styles//variables.scss" as vars;

.gallery {
	height: auto;
	margin: vars.$spacing-xl 0;
	overflow: hidden;
}

.title {
	font-size: vars.$font-3xl;
	margin-left: vars.$spacing-3xl;
	height: 60px;
	span {
		color: vars.$primary-color;
	}
}

.images {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 450px;
}

.imagesContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 90px 0;
	width: 100%;
	gap: vars.$spacing-lg;

	img {
		height: 100%;
		aspect-ratio: 4 / 5;
		object-fit: cover;
	}
}

.topEclipseContainer {
	width: 100%;
	position: relative;
}

.eclipseTopOuter {
	position: absolute;
	top: 0;
	left: 0;
	width: 120%;
	margin-left: -10%;
	height: 80px;
	border-bottom: 1px solid vars.$primary-color;
	border-radius: 100%;
	z-index: 2;
}

.eclipseTopInner {
	position: absolute;
	top: 30px;
	left: 0;
	width: 120%;
	margin-left: -10%;
	height: 80px;
	background-color: vars.$background-basic;
	border-radius: 100%;
	z-index: 1;
}

.bottomEclipseContainer {
	width: 100%;
	position: relative;
}

.eclipseBottomOuter {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 120%;
	margin-left: -10%;
	height: 80px;
	border-radius: 100%;
	border-top: 1px solid vars.$primary-color;
	z-index: 2;
}

.eclipseBottomInner {
	position: absolute;
	bottom: 30px;
	left: 0;
	width: 120%;
	margin-left: -10%;
	height: 80px;
	background-color: vars.$background-basic;
	border-radius: 100%;
	z-index: 1;
}

.drag-proxy {
	position: absolute;
	inset: 0;
	opacity: 0;
	cursor: grab;
}

@media (max-width: vars.$bp-md) {
	.title {
		font-size: vars.$font-2xl;
		margin-left: vars.$spacing-xl;
	}

	.images {
		height: 400px;
	}

	.imagesContainer {
		padding: 50px 0;
	}

	.eclipseTopOuter {
		height: 60px;
	}

	.eclipseTopInner {
		height: 60px;
	}

	.eclipseBottomOuter {
		height: 60px;
	}

	.eclipseBottomInner {
		height: 60px;
	}
}

@media (max-width: vars.$bp-sm) {
	.title {
		font-size: vars.$font-xl;
		margin-left: vars.$spacing-xl;
	}

	.images {
		height: 350px;
	}

	.imagesContainer {
		padding: 40px 0;
		gap: vars.$spacing-sm;
	}

	.eclipseTopOuter {
		height: 40px;
	}

	.eclipseTopInner {
		height: 40px;
	}

	.eclipseBottomOuter {
		height: 40px;
	}

	.eclipseBottomInner {
		height: 40px;
	}
}
